{% extends 'events/base.html' %} <!-- This extends the data to the base.html -->


{% block content %} <!-- This is used to get all data from here and input it in the base.html file for the design -->

{% if user.is_authenticated %}<!-- Checks if the user is logged in -->
    {% if user.get_username == updateevent.manager %} <!-- Checks if the user is the current manager of the event -->
        <font size="+2">
    <strong>Update Event</strong>
            </font>
        <br/><br/>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <input type="submit" value="Update" class="btn btn-outline-success">
    </form>
{% else %} <!-- if the user isn't the manager -->
<font size="+2">
    <strong>Access Denied!</strong>
</font>
<p>You have to be the manager of this event to update it</p>
    <p>The manager of this event is: {{ updateevent.manager }} </p>
{% endif %}





{% else %} <!-- If the user isn't logged in -->
<font size="+2">
    <strong>You have to Log in to view this page</strong>
</font>
<br/><br/>

<a href="{% url 'login' %}" class="btn btn-outline-secondary">Login</a> <!-- Login button -->


{% endif %}

{% endblock %}