{% extends 'events/base.html' %}

{% block content %}
<font size="+2">
    <strong>Login</strong>
</font>
<br/><br/>

<form action="" method="POST"> <!-- Create form code -->
    {% csrf_token %} <!-- Form security token -->


  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <input type="submit" value="Login" class="btn btn-outline-secondary">
  <br/><br/>

  Haven't Signed up?... <br/> <a href="{% url 'register' %}" class="btn btn-outline-secondary">Sign Up now</a>





</form>



{% endblock %}